NEXT_PUBLIC_API_URL=https://projektmanagement.runasp.net/api/v1
NEXT_PUBLIC_AZURE_CLIENT_ID=YOUR_ENTRA_CLIENT_ID
NEXT_PUBLIC_AZURE_TENANT_ID=YOUR_ENTRA_TENANT_ID
NEXT_PUBLIC_AZURE_REDIRECT_URI=https://YOUR_VERCEL_DOMAIN/login
